/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.bg-green-vogue {
  background: $green-vogue;
  color: white;
}

.img-welcome-logo {
  max-width: 300px;
}
.img-welcome-brand {
  max-width: 500px;
}
.welcome-brand {
  margin-top: -110px;
}

