---
title: Champagne Lucien Collard
---

<div class="container">
  <div class="row">
    <div class="welcome text-center padded">
      <div class="welcome-logo">
        <%= image_tag "blue_logo.png", class: "img img-welcome-logo" %>
      </div>
      <div class="welcome-brand">
        <%= image_tag "brand.png", class: "img img-welcome-brand" %>
      </div>
      <p class="subtitle">
        Champagne Grand-Cru Bouzy
      </p>
    </div>
  </div>
</div>
<div class="container-fluid bg-green-vogue">
  <div class="row">
    <div class="text-center padded" id="contact">
      <h2>Site en construction</h2>
      <p>
        Pour toute information, n'hésitez pas a nous contacter à contact@champagne-lucien-collard.com
      </p>
      <p>
        L'abus d'alcool est dangereux pour la santé, à consommer avec modération.
      </p>
    </div>
  </div>
</div>

<!-- <div class="modal fade text-center" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Site en construction</h2>
        <p>
          Pour toute information, n'hésitez pas a nous contacter à contact@champagne-lucien-collard.com
        </p>
        <p>
          L'abus d'alcool est dangereux pour la santé, à consommer avec modération.
        </p>
      </div>
    </div>
  </div>
</div>
 -->
